/*@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);*/
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
    outline: none;
}

body {
  background: #D80A6E;
}

figcaption {
  text-align: center;
  font-size: 11px;
  line-height: 1;
}

/*.nav-drag{
  z-index: 2;
  position: relative;
  margin-left: 200px;
}*/

.nav-container {
  z-index: 2;
  position: fixed;
  top: 30px;
  left: 50px;
}

.nav-options {
  padding: 8px;
  margin-left: 10px;
  display: flex;
  color: #C3C3C3;
  font-weight: 100;
  font-size: x-large;
}

#search-order {
  margin-left: 10px;
}

#search-input {
  background-color: rgba(191, 191, 191, 0.22);
  border: 0px;
  border-radius: 5px;
  height: 1.2em;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 5px;
  color: #FF00B8;
  text-overflow: clip;
  text-align: center;
  font-weight: 100;
  font-size: large;
}

#drag-icon {
  margin-left: 30px;
  margin-top: 4px;
}

.nav-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 102%;
  height: 50px;
  opacity: 0.8;
  background-color: #464646;
  border-radius: 7px;
  z-index: -1;
  overflow: hidden;
}

.image {
  width: 25%;
  height: 180px;
  position: relative;
  float: left;
  overflow: hidden;
}

.loading {
  font-size: larger;
  color: white;
}

.image figcaption {
  color: #D80A6E;
  font-size: larger;
  text-align: center;
  top: 10px;
  position: relative;;
  opacity: 0;
  z-index: 1;
}

.overlay-text-title {
  display: flex;
  color: #C3C3C3;
  font-weight: 100;
}

.image:after {
  background-color: #464646;
  position: absolute;
  content: "";
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
}

.image:hover figcaption {
  opacity: 1;
}
.image:hover:after {
  opacity: 0.8;
}
